@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Proxima Nove, system-ui, sans-serif;
    color: #373a3c;
  }

  a {
    @apply text-conduit-green;

    &:hover {
      @apply text-conduit-darkGreen;
      @apply underline;
    }
  }
}
